.alert-pr{
    align-items: center;
}
.alert-pr>p.success,#res>p.success,.row>success{
    color:green;
}

.panel-body .paragraph{
    padding-left: 15px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default {
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body{
    align-items: center;
}
.font10{
    font-size: 10px;
}
.text-uppercase{
    text-transform: uppercase;
}
.width95{
    width: 95%;
}
.paddingt10{
    padding-top: 10px;
}
.paddingl0{
    padding-left: 0px;
}
.paddingl25{
    padding-left: 25px;
}
.paddingr30{
    padding-right: 30px
}
.marginl15{
    margin-left: 15px;
}
.displaynone{
    display: none;
}
.displayinline{
    display: inline;
}
.color-grey{
    color: #333333;
}
.color-red{
    color: red;
}
#popUpModal{
    top: 40px;
}
#popUpModal>.modal-dialog{
    height: 80%;
    width: 80%;
}
#two-factor-steps {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
}
#two-factor-steps>.row{
        margin: 0px;
        align-items: center;
}
